/* UNIVERSAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* SECTION INTRO */
.intro {
  color: #555;
  margin: auto;
  padding: 10rem 2rem 5rem;
  text-align: center;
  max-width: 70rem;
  line-height: 1.3;
}

/* LISTS */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: #cf9c46;
}

/* HEADINGS */
.heading-primary,
.heading-secondary {
  color: whitesmoke;
  font-size: 6rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

/********* DISPLAYS *************/

/* FLEX */
.dis-flex {
  display: flex;
}

/* GRID */
.dis-grid {
  display: grid;
}

/* INLINE-BLOCK */
.dis-inline-block {
  display: inline-block;
}

/* GAPS */
.gap-md {
  gap: 2rem;
}

/* ALIGN ITEMS & JUSTIFY CONTENT */
.align-just-ct {
  align-items: center;
  justify-content: center;
}

/* JUSTIFY-SELF */
.just-self-end {
  justify-self: end;
}

/* MARGINS (SMALL) */
.mar-top-small {
  margin-top: 1.4rem;
}

.mar-right-small {
  margin-right: 1.4rem;
}

.mar-bottom-small {
  margin-bottom: 1.4rem;
}

.mar-left-small {
  margin-left: 1.4rem;
}

/* MARGINS(MEDIUM) */
.mar-right-md {
  margin-right: 3rem;
}

.mar-left-md {
  margin-left: 3rem;
}

/* PADDINGS(MEDIUM) */
.pad-left-md {
  padding-left: 3rem;
}

/* TEXT-ALIGN */
.txt-al-left {
  text-align: left;
}
