/* Below 685px */
@media (max-width: 43em) {
  .hero-intro {
    padding: 2rem !important;
    margin: 5rem auto !important;
  }

  .hero-intro p {
    font-size: 2rem !important;
    line-height: 1.8 !important;
    font-weight: bolder;
  }

  .collection-one {
    font-size: 2rem !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    margin-bottom: 4rem;
    padding: 4rem;
  }

  .section-catalogue {
    height: 150vh !important;
  }

  .catalogue-intro {
    /* max-width: 50rem !important; */
    font-size: 1.8rem !important;
    margin: 5rem 3rem;
  }

  .perfume-group-section {
    grid-template-columns: 1fr !important;
  }

  .perfume-group-text p {
    font-size: 2rem;
  }

  .shop-now-box {
    margin-top: 8rem;
  }

  .perfume-group-btn {
    margin-left: unset !important;
  }

  .btn {
    padding: 2rem 4rem;
    font-size: 2rem;
  }
}

/* Below 424px */
@media (max-width: 27em) {
  .nav-first {
    display: none;
  }

  .hero-intro {
    padding: 4rem !important;
  }

  .product-list {
    overflow-y: hidden;
  }

  .section-hero {
    height: 150vh;
  }

  .section-catalogue {
    height: 250vh !important;
  }

  .collection-one {
    grid-template-columns: 1fr !important;
    gap: 13rem !important;
  }

  .flex-d-col {
    flex-direction: column;
  }

  .perfume-group-text {
    padding: unset !important;
    grid-row: 1/2;
  }

  .customers {
    overflow-y: hidden;
  }

  .testimonial-text {
    padding: 2rem !important;
  }

  .b-image {
    padding: 3rem;
  }

  .urge-section h2 {
    padding-top: 10rem !important;
  }
}
