* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* HERO-SECTION */
.section-hero {
  position: relative;
  width: 100%;

  /* background-color: rgb(169, 174, 178); */
  background-color: #222;
  height: 130vh;
}

/* .hero-container {
  z-index: 2;
}

.bg-image {
  background-image: url("../images/charles-forerunner-gapYVvUg1M8-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(8px);
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
} */

.section-hero {
  width: 100vw;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 4rem;
}

.nav-item {
  transition: all 0.3s;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.nav-item a:hover {
  color: #dcb063;
}

.nav-item:hover {
  transform: scale(1.1);
}

ion-icon {
  height: 3rem;
  width: 3rem;
}

.nav-item {
  position: relative;
}

.cart-number-items {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
}

.cart-number-items span {
  color: #fff;
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logo span {
  font-size: 2.6rem;
  font-weight: bolder;
  color: #cf9c46;
}

.hero-intro {
  text-align: center;
  max-width: 60rem;
  text-align: center;
  line-height: 1.3;
}

.hero-intro {
  margin: 10rem auto;
  margin-top: 5rem;
}

.heading-primary,
.heading-secondary {
  color: whitesmoke;
  font-size: 6rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.hero-intro p {
  color: whitesmoke;
  font-size: 1.2rem;
  line-height: 1.6;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.product {
  height: 40rem;
}

.product-list img {
  height: 100%;
}

.product-list h4 {
  margin-bottom: 1rem;
}

.product-description {
  color: #cf9c46;
  font-size: smaller;
  max-width: 20rem;
  text-align: center;
  padding: 1rem;
  font-weight: lighter;
  margin: auto;
}

/* CATALOGUE SECTION */
.section-catalogue {
  background-color: rgb(255, 254, 254);
  height: 80vh;
  width: 100vw;
}

.catalogue-intro {
  color: #555;
  margin: auto;
  padding: 10rem 2rem 5rem;
  text-align: center;
  max-width: 70rem;
  line-height: 1.3;
}

.heading-secondary {
  color: #222;
}

.collection-one,
.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  max-width: 120rem;
  margin: auto;
}

.collection-img,
.customer-img {
  display: grid;
  height: 15rem;
  justify-items: center;
}

.collection-img img {
  height: 10rem;
}

.collection-text {
  text-align: center;
}

.collection-text h4 {
  margin-bottom: 1.2rem;
}

.collection-text p {
  color: #555;
}

.perfume-group-section {
  width: 100vw;
  padding: 6rem;
  background-color: #222;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.perfume-group-images {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  gap: 1rem;
}

.perfume-group-img {
  height: 35rem;
  width: fit-content;
}

.perfume-group-img img {
  height: 100%;
}

.dis-flex {
  display: flex;
}

.gap-md {
  gap: 2rem;
}

.mar-bottom {
  margin-bottom: 1.4rem;
}

.align-just-ct {
  align-items: center;
  justify-content: center;
}

.perfume-group-text {
  position: relative;
  text-align: center;
  margin: 6rem auto;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5rem;
}

.frag-price-tag {
  position: absolute;
  top: 0;
  background-color: rgb(143, 23, 23);
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1.8rem 4.5rem;
  width: 5rem;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.perfume-group-text h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #cf9c46;
}

.perfume-group-text p {
  margin-bottom: 2rem;
}

.perfume-group-text h4 {
  margin-bottom: 6rem;
}

.perfume-group-list {
  text-align: left;
  font-size: 3rem;
  padding-left: 5rem;
  margin-top: 3rem;
}

.perfume-group-list li {
  list-style-type: georgian;
}

.perfume-group-btn {
  display: inline-block;
  /* align-items: center; */
  color: #cf9c46;
  text-decoration: none;
  font-size: 2rem;
  /* margin-top: 5rem; */
  margin-left: 45rem;
  /* transition: all 0.3s; */
  /* justify-content: end; */
}

.perfume-group-btn:hover .btn {
  color: white;
  transform: scale(1.1);
  background-color: #000;
  cursor: pointer;
}

.perfume-group-btn:hover .perfume-group-icon {
  color: #cf9c46;
}

.perfume-group-btn:active .btn {
  transform: scale(1.05);
}

.btn {
  display: inline-flex;
  padding: 1rem 2rem;
  transition: all 0.2s;
}

.perfume-group-icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: 0.5rem;
  /* justify-self: center; */
}

.section-customers {
  width: 100vw;
  padding-bottom: 5rem;
}

.customer-img {
  transition: all 0.3s;
}

.customer-img img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.customer-img img :not(:hover) {
  /* transform: scale(1.1); */
  transition: 0.3s;
}

.customer-img img:active {
  transform: scale(1.05);
}

.customers {
  gap: 0;
}

.testimonial-text {
  max-width: 60rem;
  margin: 5rem auto;
  text-align: center;
  /* padding: 2rem; */
}

.testimonial-text q {
  font-size: 2rem;
  color: #888;
  line-height: 1.4;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.testimonial-text span {
  display: block;
  color: #e8c88f;
  font-size: 1.6rem;
  margin-top: 2rem;
  /* font-style: italic; */
  font-weight: bolder;
}

.urge-section {
  height: 100vh;
  width: 100vw;
  margin-top: 5rem;
}

.urge-section .b-image {
  background-image: linear-gradient(to left, #2222226a, #000),
    url(../images/pmv-chamara-ILhf4VsPn_w-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: left;
}

/* .urge-section-text {
  text-align: center;
  max-width: 100rem;
  margin: 10rem auto;
  line-height: 1.5;
} */

.urge-section h2 {
  font-size: 4rem;
  color: #cf9c46;
  padding-top: 25rem;
  padding-left: 3rem;
  margin-bottom: 5rem;
}

.urge-section p {
  font-size: 2rem;
  color: #e8c88f;
  max-width: 70rem;
  /* margin: auto; */
  text-align: left;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  padding-left: 3rem;
}
