/***************** HERO-SECTION ******************/
.section-hero {
  position: relative;
  width: 100vw;
  background-color: #222;
  height: 130vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 4rem;
}

.logo span {
  font-size: 2.6rem;
  font-weight: bolder;
  color: #cf9c46;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-item {
  position: relative;
  transition: all 0.3s;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.nav-item a:hover {
  color: #dcb063;
}

.nav-cart {
  height: 3rem;
  width: 3rem;
}

.cart-number-items {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
}

.cart-number-items span {
  color: #fff;
}

.hero-intro {
  text-align: center;
  max-width: 60rem;
  text-align: center;
  line-height: 1.3;
  margin: 10rem auto;
  margin-top: 5rem;
}

.hero-intro p {
  color: whitesmoke;
  font-size: 1.2rem;
  line-height: 1.6;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.product {
  position: relative;
  height: 40rem;
  transition: all 0.5s;
}

.product:hover {
  transform: scale(1.1);
}

.product:hover .product-btn-box,
.bestseller-perf:hover .bestseller-btn-box {
  display: block;
}

.product-list img {
  height: 100%;
}

.product-list h4 {
  margin-bottom: 1rem;
}

.product-btn-box,
.bestseller-btn-box {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 9;
  display: none;
}
.product-price,
.bestseller-price {
  color: orangered;
  font-weight: bolder;
  font-size: 1.2rem;
  width: 0;
  display: inline-block;
  visibility: hidden;
  /* margin-right: 2rem; */
}

.product-btn-box:hover .product-price,
.bestseller-btn-box:hover .bestseller-price {
  width: 4.8rem;
  transition: 0.3s;
  visibility: visible;
}

.bestseller-btn-box:hover .bestseller-price {
  width: 3.6rem;
}

.product-btn-box .btn:active,
.bestseller-btn-box .btn:active {
  transform: scale(0.95);
}

.product-btn-box .btn:hover,
.bestseller-btn-box .btn:hover {
  background-color: #e8c88f;
}

.product-description {
  color: #cf9c46;
  font-size: smaller;
  max-width: 20rem;
  text-align: center;
  padding: 1rem;
  font-weight: lighter;
  margin: auto;
}

/******************** CATALOGUE SECTION *********************/
.section-catalogue {
  background-color: rgb(255, 254, 254);
  height: 80vh;
  width: 100vw;
}

.heading-secondary {
  color: #222;
}

.collection-one,
.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  max-width: 120rem;
  margin: auto;
}

.collection-img,
.customer-img {
  display: grid;
  height: 15rem;
  justify-items: center;
}

.collection-img img {
  height: 10rem;
}

.collection-text {
  text-align: center;
}

.collection-text h4 {
  margin-bottom: 1.2rem;
}

.collection-text p {
  color: #555;
}

/* FOUR FRAG SECTION */

.four-frag-section {
  width: 100vw;
  padding: 6rem;
  background-color: #222;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.four-frag-images {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  gap: 1rem;
}

.four-frag-img {
  position: relative;
  height: 35rem;
  width: fit-content;
}

.four-frag-img img {
  height: 100%;
}

.image-overlay,
.image-overlay-2 {
  position: absolute;
  height: 0%;
  width: 100%;
  background-color: #00000087;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
  z-index: 1;
}

.image-overlay-2 {
  z-index: 0;
}

.frag-perf-title {
  /* padding: 2rem; */
  color: #df9414;
}

.frag-perf-subtitle {
  /* padding: 2rem; */
  color: #fff;
  display: none;
}

.image-overlay-2 {
  height: 100%;
  width: 100%;
  background-color: #0000009f;
  visibility: hidden;
  transition: none;
}

.four-frag-img:hover .image-overlay-2 {
  visibility: visible;
}

.four-frag-img:hover .image-overlay {
  height: 50%;
}

.four-frag-img:hover .image-overlay .frag-perf-title {
  padding: 2rem;
}

.four-frag-img:hover .image-overlay .frag-perf-subtitle {
  display: block;
  padding: 2rem;
}

.four-frag-text {
  position: relative;
  text-align: center;
  margin: 6rem auto;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5rem;
}

.four-frag-text h4 {
  margin-bottom: 6rem;
}

.four-frag-text h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #df9414;
}

.four-frag-pricetag {
  position: absolute;
  top: 0;
  background-color: rgb(143, 23, 23);
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1.8rem 4.5rem;
  width: 5rem;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.four-frag-text p {
  margin-bottom: 2rem;
}

.four-frag-perf-list {
  text-align: left;
  font-size: 3rem;
  padding-left: 5rem;
  margin-top: 3rem;
}

.four-frag-perf-list li {
  list-style-type: georgian;
}

.four-frag-btn {
  display: inline-block;
  /* align-items: center; */
  color: #cf9c46;
  text-decoration: none;
  font-size: 2rem;
  /* margin-top: 5rem; */
  margin-left: 45rem;
  /* transition: all 0.3s; */
  /* justify-content: end; */
}

.four-frag-btn:hover .btn {
  color: white;
  transform: scale(1.1);
  background-color: #000;
  cursor: pointer;
}

.four-frag-btn:hover .four-frag-icon {
  color: #df9414;
}

.btn {
  display: inline-flex;
  padding: 1rem 2rem;
  transition: all 0.2s;
}

.four-frag-icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: 0.5rem;
  /* justify-self: center; */
}

/*********************** CUSTOMERS SECTION ***************************/

.section-customers {
  width: 100vw;
  padding-bottom: 5rem;
}

.customers {
  gap: 0;
}

.customer-img {
  transition: all 0.3s;
}

.customer-img:active {
  transform: scale(0.95);
}

.customer-img img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.customer-img img:not(:hover) {
  /* transform: scale(1.1); */
  transition: all 0.3s;
}

.testimonial-text {
  max-width: 60rem;
  margin: 5rem auto;
  text-align: center;
  /* padding: 2rem; */
}

.testimonial-text q {
  font-size: 2rem;
  color: #888;
  line-height: 1.4;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.testimonial-text span {
  display: block;
  color: #e8c88f;
  font-size: 1.6rem;
  margin-top: 2rem;
  /* font-style: italic; */
  font-weight: bolder;
}

/************** URGE SECTION ***************/
.urge-section {
  height: 100vh;
  width: 100vw;
  margin: 5rem 0 15rem 0;
}

.urge-section .b-image {
  background-image: linear-gradient(to left, #2222226a, #000),
    url(../images/pmv-chamara-ILhf4VsPn_w-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: left;
}

/* .urge-section-text {
  text-align: center;
  max-width: 100rem;
  margin: 10rem auto;
  line-height: 1.5;
} */

.urge-section h2 {
  font-size: 4rem;
  color: #cf9c46;
  padding-top: 25rem;
  padding-left: 3rem;
  margin-bottom: 5rem;
}

.urge-section p {
  font-size: 2rem;
  color: #e8c88f;
  max-width: 70rem;
  /* margin: auto; */
  text-align: left;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  padding-left: 3rem;
}

/****************** FEATURED PERF SECTION ********************/
.bestseller-perf-section {
  padding: 3rem;
  margin-bottom: 15rem;
}

.bestseller-btn,
.bestseller-btn-bg {
  padding: 2rem 4rem;
  margin-top: 4rem;
}

.bestseller-btn-bg:hover {
  background-color: #e8c88f;
}

.bestseller-perf {
  position: relative;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
  height: 45rem;
  width: 30rem;
  overflow: hidden;
  padding: 5rem;
}

.bestseller-perf img {
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  /* aspect-ratio: 3/2;
  object-fit: contain; */
}

.bestseller-perf img:hover {
  transform: scale(1.1);
}

.bestseller-perf p {
  text-align: left;
}

/********************* BRANDS SECTION ************************/
.brands {
  background-color: #0000009f;
  margin-bottom: 15rem;
  height: 300px;
}
.brands-box {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.brand-logo {
  /* height: 80px; */
  width: 20%;
  aspect-ratio: 3/2;
  object-fit: contain;
  filter: opacity(35%);
}

/************** BLOG SECTION *************/

.blog {
  /* background-color: #222; */
  padding: 0 10rem;
}

/* .blog-container {
  height: 100%;
  width: 100%;
} */

.blog-heading {
  text-align: center;
}

.blog-box {
  grid-template-columns: 700px 2fr;
  gap: 4rem;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  padding: 2rem;
}

.main-post-box,
.side-post-box {
  height: 100%;
  width: 100%;

  /* background-color: #222; */
}

.main-post-box {
  align-items: center;
  padding: 3rem;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}

.side-post-box {
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: unset;
  /* padding: 6rem 2rem; */
  /* background-color: #cf9c46; */
}

.main-post-img {
  height: 500px;
  width: 100%;
}

.main-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-post-text,
.side-post-text {
  align-content: start;
  padding: 2rem;
  color: #444;
  height: 100%;
}

.main-post-text a,
.side-post-text a {
  text-decoration: none;
  color: inherit;
}

.main-post-text a:hover,
.side-post-text a:hover {
  text-decoration: underline;
}

.main-post-title {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  /* white-space: nowrap; */
}

.main-post-subheading {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 2rem;
}

.read-time {
  font-size: 1.1rem;
  background-color: #df9414;
  color: #000;
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1.6rem;
}

.author-box {
  align-items: center;
  gap: 1rem;
  /* justify-content: center; */
}

.author-img {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: 1.8px solid #df9414;
}

.author-img img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.author-name {
  font-size: 1.4rem;
  font-weight: bold;
}
.author-date {
  font-size: 1.2rem;
  color: #777;
}

.side-post {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}

.side-post-img {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.side-post-img img {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.side-post-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
